.displayweather {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.displayweather .maincard {
  width: 450px;
  margin-top: 20px;
  align-self: center;
  padding: 50px 120px;
  border-radius: 20px;
  position: relative;
  background: rgb(245, 242, 242);
  border: 1px solid black;
}

.displayweather .maincard .cardtitle {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-left: 70px;
  font-size: 1.1rem;
}

.displayweather .maincard .cardsubtitle {
  position: absolute;
  left: 10px;
  margin-left: 80px;
  color: grey;
  margin-top: -8px;
}
.displayweather h3 {
  font-size: 2rem;
  margin: 10px;
  margin-left: 100px;
}

.displayweather .weather-icon {
  width: 80px;
  position: absolute;
  top: 50px;
}

.displayweather .weather-main {
  position: absolute;
  top: 120px;
  left: 280px;
  font-weight: 500;
  font-size: 1rem;
}

.displayweather .weather-description {
  position: absolute;
  left: 10px;
  font-size: 1.15rem;
  margin-left: 100px;
}
.displayweather .weatherdetails {
  margin-left: 10px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  font-size: 15px;
}
.displayweather .weatherdetails .section1 {
  justify-self: right;
  width: 100px;
  font-size: 1rem;
  margin-right: 69px;
}

.displayweather .weatherdetails .section2 {
  width: 100px;
  font-size: 1rem;
  margin-left: 45px;
}

td {
  border-bottom: none;
}

.displayweather .weatherdetails span {
  font-size: 1rem;
}
