.main-footer {
  color: white;
  background-color: #000000;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  /* margin: 5px 120px 5px 120px; */
  margin: 0.1vw 8vw 0.1vw 8vw;
  align-items: center;
}
