* {
    box-sizing: border-box;
}

.authBoard-container {
    margin: auto 240px;
    min-width: 800px;
}

.AuthBoardPost-container {
    /* border: 1px solid black; */
}
.AuthBoardPost-photoPlace {
    margin: 0 auto;
    background-color: #efefef;
    width: 300px;
    height: 300px;
}
.AuthBoardPost-photoPlace > img {
    width: 300px;
    height: 300px;
}
.AuthBoardPost-Body-area {
    width: 600px;
    height: 100px;
    margin: 10px auto;
}
.AuthBoardPost-Body {
    margin: 10px auto;
    display: block;
    width: 600px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
}
.AuthBoardPost-Photo {
    float: left;
}
.AuthBoardPost-submit-area {
    box-sizing: border-box;
    width: 600px;
    height: 50px;
    margin: 0 auto;
}
.AuthBoardPost-submit-btn {
    float: right;
}

.css-14tjg8b-MuiPaper-root-MuiCard-root {
    margin: 10px auto;
}
