/*  */

body {
  background-color: #f5f5ff;
}

.MyButton_css {
  margin-top: 17vh;
  margin-bottom: 8vh;
}
.authBoard-container {
  margin: auto 240px;
  min-width: 800px;
}

.AuthBoardPost-container {
  margin: 0 auto;
  /* border: 1px solid black; */
  /*  */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  background-color: rgba(255, 255, 255);
}
.AuthBoardPost-photoPlace {
  margin: 0 auto;
  background-color: #efefef;
  width: 300px;
  height: 400px;
}
.AuthBoardPost-photoPlace > img {
  width: 300px;
  height: 400px;
}
.AuthBoardPost-Body-area {
  width: 568px;
  height: 100px;
  margin: 10px auto;
}
.AuthBoardPost-Body {
  margin: 10px auto;
  display: block;
  width: 546px;
  height: 80px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  padding: 10px;
}
.AuthBoardPost-Photo {
  float: left;
}
.AuthBoardPost-submit-area {
  box-sizing: border-box;
  width: 600px;
  height: 50px;
  margin: 0 auto;
}

.css-14tjg8b-MuiPaper-root-MuiCard-root {
  margin: 15px auto;
}
.css-et1ao3-MuiTypography-root {
  font-size: 1rem;
  font-weight: bold;
}
.css-1t6e9jv-MuiCardActions-root {
  justify-content: space-between;
}

.css-1rwjz6-MuiCardActions-root {
  justify-content: space-evenly;
  border: solid 1px #eeeeee;
}
.css-1jgmn5n-MuiTypography-root {
  color: rgba(0, 0, 0);
}
.css-185gdzj-MuiCardHeader-root {
  padding: 10px !important;
}
.css-46bh2p-MuiCardContent-root {
  padding: 10px 10px 10px 20px !important;
}
.css-d97ly5-MuiList-root {
  height: 76px;
}
#authboard_commentPost {
  height: 55px;
}
.authboard-commentPost-container {
  border-top: 1px solid #cccccc;
  display: flex;
  padding: 8px 16px;
  align-items: center;
}
